# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
# .vscode/*

# Data
data/*
cleora/*
diagrams/*
experiment result/*
*.csv
!summary_results.csv
*.html